<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
</head>
<body>
<div th:replace="includes/navbar :: body"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="includes/kinderNavBar :: body"></div>
        <div class="col-9 col-sm-10 col-md-10 col-lg-11 col-xl-11">
            <h2>Here you can choose, what type of person you want to see in matching</h2>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Interested in </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Movie genre</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>Horror</option>
                        <option>Comedy</option>
                        <option>Action</option>
                        <option>Thriller</option>
                        <option>Romantic</option>
                        <option>Drama</option>
                        <option>Fantastic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Age</label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>18-20</option>
                        <option>21-23</option>
                        <option>24-26</option>
                        <option>27-29</option>
                        <option>30-32</option>
                        <option>33-35</option>
                        <option>35+</option>
                    </select>
                </div>
                <button type="button" class="btn">Apply</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>