<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head">
</head>
<body>
<div th:replace="includes/navbar :: body"></div>
<div class="container">
    <div class="row" style="margin-left:0px;">
        <div class="col-sm-6">
            <label>Date</label>
            <div class="date-cell">
                <input class="form-control" type="text" th:value="${#dates.format(sessionas.startDate, 'yyyy-MM-dd')}"
                       disabled/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <b>Price: <span th:text="${sessionas.price}"></span></b>
                <b>Hall: <span th:text="${sessionas.getHall().name}"></span></b>
            </div>
        </div>
    </div>
    <br>
    <div class="col-sm-6">
        <label>Movie</label>
        <div class="dropdown">
            <input class="form-control" type="text" th:value="${sessionas.getMovie().name}" disabled/>
        </div>
    </div>
    <br>
    <div class="col-sm-6">
        <label>Session time</label>
        <div class="dropdown">
            <input class="form-control" type="text" th:value="${#dates.format(sessionas.startDate, 'HH:mm')}" disabled/>
        </div>
    </div>
    <br>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Seating
            </div>
            <div class="card-body">
                <div>
                    <label>Row</label>
                    <div class="dropdown">
                        <select id="eile" class="form-control" aria-labelledby="dropdownMenuButton">
                            <option value="null">Pasirinkti...</option>
                            <option th:each="row : ${sessionas.getHall().getRows()}" th:text="${row.number}"
                                    th:value="${row.id}">
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div>
                    <label>Seat</label>
                    <div class="dropdown">
                        <select id="vieta" class="form-control" aria-labelledby="dropdownMenuButton">
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $("#eile").on('change', function (e) {
        $.ajax({
            url: '/session/row/' + e.target.value,
            dataType: 'json',
            type: 'GET',
            success: function (result) {
                $('#vieta').empty();
                if (result.length === 0) {
                    $('#vieta').append($('<option></option>').attr('value', null).text("Nėra"));
                } else {
                    $('#vieta').append($('<option></option>').attr('value', null).text("Choose..."));
                }
                result.forEach(function (seat) {
                    $('#vieta').append($('<option></option>')
                        .attr('value', seat.id)
                        .text(seat.number))
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    });
</script>

</html>