.btn-kinder {
    background-color: #fa78bd;
    border-color: green;
    width: 75px;
    margin-right: 16px;
}

.btn-payment {
    background-color: #4ffa4c;
    border-color: #ffffff;
    margin-right: 16px;
}

.btn-reservation {
    background-color: #49e6fa;
    border-color: #000000;
    float: right;
}

input[type="submit"].removeReservation {
    color: red;
    font-weight: bolder;
    background-color: transparent;
    border: dotted;
    cursor: crosshair;
}

input[type="submit"].removeReservation:hover {
    background-color: olive;
}

.card-sessions {
    display: grid;
    font-size: 13px;
    margin-right: 6px;
}