.btn-kinder {
    background-color: #fa78bd;
    border-color: green;
    width: 75px;
    margin-right: 16px;
}

.btn-payment {
    background-color: #4ffa4c;
    border-color: #ffffff;
    margin-right: 16px;
}

.btn-reservation {
    background-color: #49e6fa;
    border-color: #000000;
    float: right;
}

.remove {
    color: red;
    font-weight: bolder;
    background-color: transparent;
    border: dotted;
    cursor: crosshair;
}

.add {
    color: green;
    font-weight: bolder;
    background-color: transparent;
    border: dotted;
    cursor: crosshair;
}

.remove:hover, .add:hover {
    background-color: olive;
    color: white;
}

.card-sessions {
    display: grid;
    font-size: 13px;
    margin-right: 6px;
}

.btn-secondaryLove {
    background-color: grey;
    font-size: 32px;
    height: 310px;
    width: 128px;
}

.btn-secondaryX {
    background-color: grey;
    font-size: 32px;
    height: 310px;
    width: 128px;
}


.btn-secondaryX:hover {
    background-color: red; /* Green */
    color: white;
}

.btn-secondaryLove:hover {
    background-color: #4ffa4c;
    color: white;
}

