.btn-kinder {
    background-color: #fa78bd;
    border-color: green;
    width: 75px;
    margin-right: 16px;
}

.btn-payment {
    background-color: #4ffa4c;
    border-color: #ffffff;
    margin-right: 16px;
}

.card-sessions {
    display: grid;
    font-size: 13px;
    margin-right: 6px;
}