<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1">
    <nav class="nav navbar-light">
        <div class="flex-column mt-md-0 mt-4 pt-md-0 pt-4" id="navbarWEX">
            <a class="nav-link navbar-brand active" href="~/Views/Forms/ControlPanel.cshtml"><span class="fa fa-home"></span></a>
            <a href="/kinder/profile" class="nav-link">Profile</a>
            <a href="/kinder/interests" class="nav-link">Interests</a>
            <a href="/kinder/matching" class="nav-link">Match!</a>
        </div>
    </nav>
</div>

</body>
</html>